.top-nav{
  width: 80%;
  padding: 0;
}

@media (max-width: 1199px){
  .top-nav{
    width: 100%;
    margin-bottom: 20px;
  }
}

.logo{
  max-width: 237px;
  max-height: 19px;
  overflow: hidden;
}

.navbar-brand{
  padding: 0;
  margin: 0;
}

.navbar-toggler{
  border: none;
  padding: 0;
  margin: 0;
}

.top-menu{
  text-align: right;
  margin-top: 15px;

  li{
    margin-left: 55px;

    &:first-child{
      margin-left: 0;
    }

    a{
      color: $dark-text;
      text-transform: uppercase;
      font: bold $sm-font-size $secondary-font;

      &:hover{
        color: $accent-text;
      }
    }
  }
}