$base-font: 'Montserrat-Light', sans-serif;
$base-font-bold: 'Montserrat-Bold', sans-serif;
$secondary-font: 'Montserrat-Regular', sans-serif;

$base-line-height: 25px;

$sm-font-size: 13px;
$base-font-size: 14px;
$caption-font-size: 16px;

$bg-dark: #333;
$brand-color: #00c8c8;

$white-text: #fff;
$btn-text: #737373;
$link-color: #777;
$dark-text: #222;
$accent-text: #00c8c8;
